body{
	background-color: #aacde1;	
}

h1{
/*	color: #fdedd0;*/
}

.main{
	position: absolute; 
	top: 45%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
}
.character{
	height: 100px;
	width: 100px;
	background-color: #69a6d1;
	border: 2px solid #1f597e;
	border-radius: 15%;
	display: flex;
}

.text{
	font-size: 60px;
	color: #fdedd0;
	text-align: center;
	margin: auto;
}

.tip{
	height: 40px;
	width: 60px;
	display: flex;
	margin-bottom: 10px;
}

.tiptext{
	font-size: 30px;
	color: #aacde1;
	text-align: center;
	margin: auto;
}

#qpianjia{
	margin: 0 20px;
}
#zpianjia{
	margin: 0 20px;
}
#pianmixbtn{
	margin: 0 20px;
}
.btn{
	background-color: #69a6d1; 
	color: #fdedd0;
}
.row1{
	margin-bottom: 20px;
}

.change{
	margin-right: 20px;
}