body{
	background-color: #aacde1;	
}

h1{
	position: absolute;
	left: 5rem;
	bottom: 5rem;
	font-size: 80px;
	color: rgba(105, 166, 209, 0.5);

}

/*导航*/
.menu{
	background-color: #69a6d1;
	color: #fdedd0;
}
.nav-link {
	color: #fdedd0;
	font-size: 20px;
}
.nav-link:hover{
	color: white;
}

/*主体*/
.main{
	position: absolute; 
	top: 45%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
}
.character{
	height: 100px;
	width: 100px;
	background-color: #69a6d1;
	border: 2px solid #1f597e;
	border-radius: 15px;
	display: flex;
}

.text{
	font-size: 60px;
	color: #fdedd0;
	text-align: center;
	margin: auto;
}

.tip{
	height: 40px;
	width: auto;
	display: flex;
	margin-bottom: 10px;
}

.tiptext{
	font-size: 30px;
	color: #aacde1;
	text-align: center;
	margin: auto;
}

.mid-btn-mg{
	margin: 0 20px;
}

.btn{
	background-color: #69a6d1; 
	color: #fdedd0;
}
.row1{
	margin-bottom: 20px;
}

.change{
	margin-right: 20px;
}

/*数字练习页*/
.number{
	height: 100px;
	width: auto;
	padding: 0 15px;
	background-color: #69a6d1;
	border: 2px solid #1f597e;
	border-radius: 15px;
	display: flex;
}

/*动词练习页*/
.verb{
	height: 100px;
	width: auto;
	padding: 0 15px;
	background-color: #69a6d1;
	border: 2px solid #1f597e;
	border-radius: 15px;
	display: flex;
}